<!DOCTYPE html>
<html class="scroll-smooth" lang="it">

<head>
    <%- include('partials/head') %>
</head>

<body class="bg-background-light text-secondary font-sans transition-colors duration-300">
    <%- include('partials/navbar') %>

        <main>
            <%- body %>
        </main>

        <%- include('partials/footer') %>
</body>

</html>